.square {
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    margin-right: 3px;
}

.square:hover {
    border: 1px solid black;
    opacity: 50%;
}

.square:active, .square:focus {
    border: 1px solid black;
  }

.one {
    background: #EDEDED;
    width: 15px;
    height: 15px;
}

.two {
    background: #ACD5F2;
    width: 15px;
    height: 15px;
}

.three {
    background:#7FA8C9;
    width: 15px;
    height: 15px;
}

.four {
    background:#527BA0;
    width: 15px;
    height: 15px;
}

.five {
    background: #254E77;
    width: 15px;
    height: 15px;
}

