.square {
    padding: 15px;
    margin: 5px 5px;
    border: 1px solid transparent;
}

.square:hover {
    border: 1px solid black;
    opacity: 50%;
}

.square:active {
    border: 1px solid black;
}

.one {
    background: #EDEDED;
}

.two {
    background: #ACD5F2;
}

.three {
    background:#7FA8C9;
}

.four {
    background:#527BA0;
}

.five {
    background: #254E77;
}

